.user-image{
    max-height: 200px;
    max-width: 300px;
    transition: transform .2s;
}
.user-image:hover {
    transform: scale(1.05);
}
.modal-body {
    display: flex;
    justify-content: center;
}