.nav-head {
    float: right;
    max-height: 72px;
    background: #0D1B2A;

    .nav-links {
        position: fixed;
        width: 100%;
        top: 0;
        left: 0;
        text-align: center;
        padding: 1em;

        ul {
            list-style: none;

            li {
                display: inline-block;
                margin: 0 15px;
                text-decoration: none;

                a {
                    color: rgb(20, 19, 19);
                    text-decoration: none;
                }

                a,
                button {
                    transition: all 0.5s ease 0s;
                }

                a:hover,
                button:hover {
                    color: #5f6164;
                }
            }
        }
    }
}

@media (min-width: 900px) {
    header {
        .nav-links {
            position: static;
            background: none;

            ul {
                display: block;

                li {
                    margin-right: 4em;
                    display: inline-block;
                }
            }
        }
    }

}